body {
  background-color: $white;
}
.myContainer {
  width: 1500px;
  // width: 600px;
  display: flex;
  justify-content: center;
}
.myRow{
  width: 1300px;
  // width: 600px;
  display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // align-items:flex-start;
  justify-content: center;
  // justify-content:space-between;
}
// left container
.classesContainer {
  // margin-bottom: 20px;
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // flex-direction: column;
  align-items:flex-start;
  // justify-content: center;
  // background-color: red;
  overflow-y: scroll;
  height: 99vh;
}
// right container
.classesTakenContainer{
  // margin-bottom: 20px;
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // flex-direction: column;
  align-items:flex-start;
  // justify-content: center;
  // background-color: red;
  overflow-y: scroll;
  height: 99vh;
}
// left box
.myCBox {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid $black;
  width: 560px;
  height: auto !important;
  height: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px 0px rgba($black, .3);
}
//calc box
.calcBox {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid $black;
  width: 600px;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba($black, .6);
  background-color: lighten($green, 25%) !important;
  &:hover {
    background-color: lighten($green, 23%) !important;
  }
  .total {
    margin-right: 10px;
  }
}
// #leftCalc {
//   background-color: lighten($green, 25%) !important;
// }
// #rightCalc {
//   background-color: lighten($green, 25%) !important;
// }
.openDiv {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  cursor: pointer;
  font-size: 2em;
  line-height: 1em;
  // background-color: black;
  border: 1px solid $black;
}
.displayInfo {

}
.myClassNum {
  font-size: 2.5em;
}
.myClassName {
  font-size: 1em;
}
.myClassCreditBox {
  display: flex;
  font-size: 1em;
  color: lighten($black, 40%);
  font-style: italic;
  .myClassCredit {
    margin-right: 10px
  }
  .myClassCreditNum {}
}

.myCPBox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  .myCPT {
    padding: 5px 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: $orange;
    margin-right: 10px;
  }
  .myCPCBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .myCPC {
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 5px 10px;
      font-size: 1em;
      background-color: rgba($orange, 0.7);
    }
  }
}
.myCI {
  padding-top: 20px;
  padding-bottom: 20px;
}
.myCILT {
  padding: 10px;
  background-color: darken($blue, 5%);
  color: $white;
}
.myCIOL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.myCIL {
  margin-top: 10px;
  padding: 10px;
  background-color: lighten($blue,40%);
}



// broken
//
//
//
//

// .classesInfo {
//   padding: 20px;
//   width: 683px;
//   height: 200px;
//
//   // background-color: green;
// }
//
// .studentCode {
//   padding: 10px;
//   border: 1px solid $black;
//   background-color: white;
//   // background-color: blue;
//
// }
//
// .studentPlanner {
//   padding: 20px 10px 20px 10px;
//   border: 1px solid $black;
//   background-color: white;
//   // background-color: yellow;
//   .semText {
//     margin-left: 14px;
//     margin-bottom: 10px;
//     padding: 10px;
//     font-size: 2em;
//     width: 572px;
//     background-color: $red;
//     text-align: center;
//   }
//   .fallSemBox {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     flex-wrap: wrap;
//     align-items: center;
//     .classBtn {
//       margin-top: 20px;
//       width: 572px;
//     }
//   }
// }
