
.myCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  .myColG {
    margin: 10px;
    width: 250px;
    height: 140.6px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  }
  #g001 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/001.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g002 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/002.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g003 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/003.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g004 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/004.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g005 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/005.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g006 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/006.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g007 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/007.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g008 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/008.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g009 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/009.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g010 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/010.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g011 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/011.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g012 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/012.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g013 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/013.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g014 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/014.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g015 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/015.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g016 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/016.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g017 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/017.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g018 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/018.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g019 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/019.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g020 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/020.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g021 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/021.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g022 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/022.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #g023 {
    background: url('https://raw.githubusercontent.com/ajmakhl/Images/master/small/023.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 569px) {
  .myCol {
    justify-content:space-around;
  }
}
