.indexCol {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content:space-around;
 a {
   font-size: 20px;
   margin-top: 20px;
   background-color: $orange;
   padding: 10px 20px 10px 20px;
   color: white;
   &:hover {
     color: $white;
    text-decoration: none;
   }
 }
}
