// column flex
@mixin colFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// row flex
@mixin rowFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
// header box
@mixin headerBox {
  width: 400px;
  cursor: default;
}

// remove number spinners
@mixin removeSpin {
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
