p {
  margin: 0; }

.myCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#bismillah {
  text-align: center;
  font-size: 30px; }

.myHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .myHeader .myHeaderContain {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    padding: 20px;
    background-color: #FC5B50;
    cursor: default;
    color: #F1F1F1;
    font-size: 20px; }

.blueBg {
  background-color: #509BFC;
  -webkit-transition: ease .2s;
  transition: ease .2s; }

.redBg {
  background-color: #FC5B50;
  -webkit-transition: ease .2s;
  transition: ease .2s; }

.myRes {
  border: 20px solid #1F1F1F;
  box-shadow: 0px 0px 30px 0px #1f1f1f;
  margin-top: 50px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .myRes .resBoxSm {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 10px;
    cursor: default; }
    .myRes .resBoxSm .resTitleSm {
      color: #F1F1F1;
      font-size: 30px; }
  .myRes .resBoxLg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #FC5B50;
    cursor: default;
    box-shadow: 0px 0px 30px 0px #1f1f1f; }
    .myRes .resBoxLg .resSubTitleLg {
      background-color: #FCB150;
      width: 70%;
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 30px; }
    .myRes .resBoxLg .resContentDiv {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .myRes .resBoxLg .resContentLg {
      padding: 10px;
      margin: 10px;
      text-align: center;
      color: white;
      font-size: 20px; }
