.experience_section {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  @include spacev(0, 0, 0, 0);
  .experience_type {
    @include flex(column, flex-start, center);
    width: 100%;
    #experience_text_header {
      width: 100%;
      color: $my_black_2;
      background-color: $my_white_2;
      border-radius: $default_radius;
      font-size: 20px;
      text-align: center;
      @include spaceh(0, 0, 0, 0);
      @include spacev(10px, 10px, 5px, 5px);
    }
  }

}
