.header_index {
  @include flex(column, flex-start, center);
  @include size(calc(100vw - 20px), auto);
  @include spacev(10px, 0, 0px, 0px);
  @include spaceh(10px, 10px, 0px, 0px);
  border-radius: $default_radius;
  background-color: $my_white_0;
  box-shadow: 0px 0px 1px 0px $my_black_2;
  #particle {
    position: absolute;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
    z-index: 1;
  }
  #particleDiv {
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    #particleHeader {
      z-index: 0;
      font-size: 60px;
      cursor: default;
      border: 1px solid black;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
