.resume_right_big_box {
  @include flex(column, flex-start, flex-start);
  @include size(100%, auto);
  @include spacev(5px, 5px, 5px, 5px);
  #big_box_title {
    color: $my_white_0;
    font-size: 50px;
    @include spaceh(0, 0, 10px, 10px);
    border-radius: $default_radius;
    background-color: $my_black_2;
    @include spacev(0, 20px, 10px, 10px);
  }
}
@media (max-width: $my_tablet) {
  .resume_right_big_box {
    #big_box_title {
      @include size(calc(100% - 20px), auto);
      font-size: 40px;
    }
  }
}
