.profile_section {
  @include flex(row, flex-start, center);
  width: 80%;
  @include spacev(10px, 10px, 0, 0);
  img {
    @include size(50px, 50px);
  }
  p {
    color: $my_white_0;
    font-size: 17px;
    margin-left: 10px;
  }
}
