.resume_container {
  @include flex(column, center, center);
  width: 100%;
  #profile_text_header {
    @include size(calc(100% - 20px), auto);
    color: $my_white_1;
    font-size: 25px;
    font-weight: bold;
    @include spacev(0, 10px, 5px, 5px);
    @include spaceh(0, 0, 10px, 10px);
    border-bottom: 2px solid $my_white_0;
    text-align: center;
  }
}
