.degreePlannerGetForm {
  background-color: $white;
  margin: 20px 0px;
  padding: 0px 20%;
  // border: 1px solid $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include defaultBS(0px,5px);
  transition: .3s ease;
  &:hover {
    @include defaultBS(0px,10px);
  }
  input {
    background-color: white;
    margin: 20px 0px !important;
    text-align: center !important;
    border: 1px solid rgba($black, 1) !important;
    transition: .3s ease;
    &:focus {
      outline: none !important;
      border: 1px solid rgba(darken($orange, 20%), 1) !important;
      @include defaultBS(0px,5px);
    }
  }
  @include removeSpin;
  button {
    margin-bottom: 20px !important;
    border: 1px solid rgba($black, 1) !important;
    background-color: white !important;
    padding: 1px 20px;
    &:hover {
      border: 1px solid rgba(darken($orange, 20%), 1) !important;
    }
  }
}
