.userOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
  height: 180px;
  .userOptionBoxElement {
    padding: 20px;
    img {
      cursor: pointer;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: white;
      margin-bottom: 10px;
      @include defaultBS(2px,5px);
      transition: .3s ease;
      &:hover {
        @include defaultBS(2px,10px);
      }
    }
    p {
      text-align: center;
    }
  }
}
