#myNavBtn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 999;
}
.myNavBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(black, 0.7);
  ul {
    margin-left: 15vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    li {
      a {
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 5px 20px;
        color: rgba(white, 0.9);
        font-size: 16px;
        &:hover {
          background-color: rgba(white, 0.9);
          color: rgba(black, 0.7);
        }
      }
    }
  }
}
@media (max-width: $mobile) {
  #myNavBtn {
    display: block;
    border: 2px solid white;
    background: url('../img/menu_white.svg') no-repeat center center;
    &.navToggle {
      border: 2px solid white;
    }
  }
}
@media (max-width: $tablet) and (min-width: 661px) {
  #myNavBtn {
    display: block;
    border: 2px solid black;
    background: url('../img/menu_black.svg') no-repeat center center;
    &.navToggle {
      border: 2px solid white;
      background: url('../img/menu_white.svg') no-repeat center center;
    }
  }
}
@media (max-width: $tablet) {
  .myNavBar {
    position: fixed;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -152px;
    &.navToggle {
      margin-top: 0px;
    }
    ul {
      margin-left: 0vw;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      li {
        a {
          width: 60px;
          padding: 10px 20px;
        }
      }
    }
  }
}
