.entireResume {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  .myResumeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    background-color: #1D88B4;
    .pI {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @include leftResumeHead;
      .pIE {
        margin-top: 10px;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        #pIEImage {
          width: 50px;
          height: 50px;
          color: white;
        }
        #pIEText {
          margin-left: 20px;
          font-size: 17px;
          color: white;
        }
      }

    }
    .tI {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @include leftResumeHead;
      .tIE {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        #tIEText {
          margin: 15px 0 0 0px;
          font-size: 20px;
          color: white;
          font-weight: bold;
          padding: 5px 10px 5px 0px;
          // border: 1px solid white;
          border-bottom: 1px solid white;
        }
        .tIEE {
          margin: 10px 0 10px 0;
          width: 250px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          #tIEEText {
            font-size: 15px;
            color: white;
          }
          .tIEEBar {
            width: 250px;
            height: 10px;
            border: 1px solid white;
            border-radius: 10px;
            margin-top: 5px;
            .tIEEBarIn {
              height: 10px;
              background-color: white;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  .myResumeRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    padding: 0 20px 20px 20px;
    .split {
      width: 100px;
      border-bottom: 1px solid black;
      margin: 10px 0 10px 0;
    }
    .bigBox {
      margin-top: 10px;
      #bigHead{
        font-size: 40px;
        font-weight: bold;
      }
      .smallBox {
        margin-top: 20px;
        #smallHead {
          font-size: 30px;
        }
        #smallSub {
          margin-top: 5px;
          font-size: 15px;
          &:hover {
            text-decoration: underline;
          }
        }
        ul {
          margin-top: 10px;
          margin-left: 30px;
          list-style-type: none;
          li {
            margin-top: 5px;
            padding: 10px 10px 10px 8px;
            font-size: 20px;
            border-left: 2px solid #E54F45;
            &:hover {
              background-color: #E54F45;
              border-left: 20px solid #1D88B4;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $desktop) {
  .entireResume {
    .myResumeRight {
      width: 300px;
      .split {
      }
      .bigBox {
        #bigHead{
          font-size: 30px;
        }
        .smallBox {
          #smallHead {
            font-size: 25px;
          }
          #smallSub {
            font-size: 15px;
            &:hover {
            }
          }
          ul {
            margin-left: 10px;
            li {
              font-size: 15px;
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $mobile) {
  .entireResume {
    .myResumeLeft {
      width: 100vw;
    }
    .myResumeRight {
      width: 100vw;
      .split {
      }
      .bigBox {
        #bigHead{
          font-size: 30px;
        }
        .smallBox {
          #smallHead {
            font-size: 25px;
          }
          #smallSub {
            font-size: 15px;
            &:hover {
            }
          }
          ul {
            margin-left: 10px;
            li {
              font-size: 15px;
              &:hover {
              }
            }
          }
        }
      }
    }
  }
}
